/* 
  定义全局样式
*/
.el-form-item__label{
  display: none;
}
.el-form-item {
  margin-bottom: 18px;
}
.el-input{
  line-height: 34px;
}
.el-input__inner{
  height: 34px;
  border-color: #dcdee2;
  color: #666666;
  line-height: 34px;
}
